<div class="container">
  <h1 class="mt-5">Reset Password</h1>
  <form (ngSubmit)="resetPassword()" *ngIf="!invalidToken">
    <div *ngIf="passwordNotMatch" class="alert alert-danger">
      Passwords do not match. Please try again. <br />
    </div>
    <div *ngIf="wrongPassword" class="alert alert-danger">
      Your password is not strong Enough <br />
      * 6 Characters total Minimum<br />
      * 1 Minimum special character<br />
      * 1 Minimum captial letter<br />
      * 1 Minimum number<br />
      * 1 Minimum non capital letter
    </div>
    <div class="mb-3">
      <label for="password">New Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        [(ngModel)]="password"
        name="password"
        required
      />
    </div>
    <div class="mb-3">
      <label for="confirm-password">Confirm New Password</label>
      <input
        type="password"
        class="form-control"
        id="confirm-password"
        [(ngModel)]="confirmPassword"
        name="confirm-password"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Reset Password</button>
  </form>
  <div class="alert alert-danger mt-5" *ngIf="invalidToken">
    Invalid or expired token. Please request a new password reset email.
  </div>
</div>
