<!-- Full Page Intro -->

<div
  class="view full-page-intro"
  style="
    background-image: url('https://png.pngtree.com/thumb_back/fw800/back_pic/03/99/62/8857fa0902ae111.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  "
>
  <div class="scroll-box">
    <div class="my-view container">
      <main class="my-main mx-lg-5 text-center">
        <div class="container-fluid mt-5">
          <!-- Heading -->
          <div class="card mb-4 wow fadeIn">
            <!--Card content-->
            <div class="card-body d-sm-flex justify-content-between">
              <h4 class="mb-2 mb-sm-0 pt-1">
                Welcome to {{ course.code }} - {{ course.name }}
              </h4>
              <button
                type="button"
                *ngIf="!sessionStatus"
                class="btn btn-primary"
                (click)="startSession()"
              >
                <i class="fa fa-tv mr-3"></i>Start Session
              </button>
              <button
                type="button"
                *ngIf="sessionStatus"
                class="btn btn-danger"
                (click)="stopSession()"
              >
                <i class="fa fa-stop mr-3"></i>Stop Session
              </button>
            </div>
          </div>
          <!-- Heading -->

          <div id="meet" class=""></div>
        </div>

        <div class="container-fluid mt-5">
          <!-- Heading -->
          <div class="card mb-4 wow fadeIn">
            <!--Card content-->
            <div class="card-body d-sm-flex justify-content-between">
              <h4 class="mb-2 mb-sm-0 pt-1">Course Materials</h4>
              <div class="dropdown">
                <button
                  class="btn btn-secondary dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton1"
                  data-bs-toggle="dropdown"
                  aria-expanded="true"
                >
                  {{ coursedropdown }}
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li>
                    <a
                      class="dropdown-item"
                      (click)="
                        handleCourseDropdown(courseDropdownEnum.ATTENDEES)
                      "
                      >Attendees</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      (click)="
                        handleCourseDropdown(courseDropdownEnum.RESOURCES)
                      "
                      >Resources</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="justify-content-center row mr-1 ml-1">
            <!-- Left -->
            <div
              *ngIf="this.coursedropdown === courseDropdownEnum.RESOURCES"
              class="col-md-12 mb-4"
            >
              <div class="card mb-4 p-2">
                <div>
                  <!-- Resource header -->
                  <div class="resources-header mb-2">
                    <h4 style="margin-bottom: 0px">Resources</h4>
                    <button
                      *ngIf="this.user && this.user.faculty"
                      type="button"
                      class="btn-primary"
                      data-toggle="modal"
                      data-target="#exampleModal"
                    >
                      <i class="fa fa-plus"></i>
                    </button>
                  </div>
                  <!-- Resource Modal -->
                  <div
                    class="modal fade"
                    id="exampleModal"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">
                            Add Resource
                          </h5>
                          <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                          >
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <form>
                          <div class="modal-body">
                            <div class="form-group">
                              <label for="resourceSelection"
                                >Resource type</label
                              >
                              <select
                                (change)="onChangeResourceType($event)"
                                class="form-control"
                              >
                                <option>{{ resourceTypeEnum.FILE }}</option>
                                <option>{{ resourceTypeEnum.LINK }}</option>
                              </select>
                            </div>
                            <div class="form-group">
                              <label for="resourceInput">Resource Input</label>
                              <input
                                *ngIf="
                                  this.resourceTypeDropdown ===
                                  resourceTypeEnum.LINK
                                "
                                (change)="onChangeResourceInput($event)"
                                type="text"
                                class="form-control"
                                id="resourceInput"
                              />
                              <input
                                *ngIf="
                                  this.resourceTypeDropdown ===
                                  resourceTypeEnum.FILE
                                "
                                (change)="onChangeResourceInput($event)"
                                accept=".pdf"
                                type="file"
                                class="form-control-file"
                                id="resourceInput"
                              />
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button
                              (click)="onAddResource()"
                              type="submit"
                              class="btn btn-primary"
                            >
                              Add Resource
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <!-- Resource content -->
                  <div style="max-height: 248px" class="scroll-box col-md-12">
                    <!-- Resource content row -->
                    <div
                      class="resource-item"
                      *ngFor="let resource of course.resources"
                    >
                      <a
                        *ngIf="typeOfResource(resource)"
                        href="{{ resource }}"
                        target="_blank"
                        >{{ resource }}</a
                      >
                      <a
                        *ngIf="!typeOfResource(resource)"
                        (click)="downloadAssignment(resource, 'pdf')"
                        >{{ resource.name }}</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <!-- Syllabus -->
              <!-- <div class="card">
                <div>
                  <h4 class="mb-3 mb-sm-2 pt-1">Syllabus</h4>
                  <div class="p-2">
                    <ul class="list-group">
                      <li
                        class="list-group-item"
                        *ngFor="let item of course.syllabus"
                      >
                        {{ item }}
                      </li>
                    </ul>
                    <input
                      (keydown)="addNew($event)"
                      placeholder="Add new"
                      class="form-control"
                      [ngModelOptions]="{ standalone: true }"
                      [(ngModel)]="newSyllabus"
                    />
                  </div>
                </div>
              </div> -->
            </div>

            <!-- Right -->
            <!-- Admin download center aligned -->
            <div
              *ngIf="
                this.user &&
                this.user.faculty &&
                this.coursedropdown === courseDropdownEnum.RESOURCES
              "
              class="col-md-12 mb-4 d-flex flex-row justify-content-center"
            >
              <div class="card mb-4 mr-2 col-md-6">
                <span *ngIf="!checkDeadlineOverdue()" class="mt-4"
                  >Deadline:
                  {{ course.assignment && course.assignment.deadline }}</span
                >
                <span
                  *ngIf="checkDeadlineOverdue()"
                  class="mt-4 alert alert-danger"
                  >Deadline:
                  {{ course.assignment && course.assignment.deadline }}</span
                >
                <button
                  (click)="downloadAssignment(course.assignment.file, 'pdf')"
                  class="btn btn-primary m-4"
                  type="submit"
                >
                  <i class="fa fa-download mr-3"></i>Download assignment!
                </button>
              </div>
            </div>

            <!-- User download left aligned -->
            <div
              *ngIf="
                this.user &&
                !this.user.faculty &&
                this.coursedropdown === courseDropdownEnum.RESOURCES
              "
              class="col-md-12 mb-4 d-flex flex-row"
            >
              <div class="card mb-4 mr-2 col-md-6">
                <span *ngIf="!checkDeadlineOverdue()" class="mt-4"
                  >Deadline:
                  {{ course.assignment && course.assignment.deadline }}</span
                >
                <span
                  *ngIf="checkDeadlineOverdue()"
                  class="mt-4 alert alert-danger"
                  >Deadline:
                  {{ course.assignment && course.assignment.deadline }}</span
                >
                <button
                  (click)="downloadAssignment(course.assignment.file, 'pdf')"
                  class="btn btn-primary m-4"
                  type="submit"
                >
                  <i class="fa fa-download mr-3"></i>Download assignment!
                </button>
              </div>

              <div
                class="card mb-4 p-4 col-md-6"
                *ngIf="this.user && !this.user.faculty"
              >
                <div>
                  <label for="profile_pic"
                    ><b>Upload your assignment here</b></label
                  ><input
                    type="file"
                    (change)="onAssignmentHandIn($event)"
                    id="assignment"
                    name="assignment"
                    accept=".zip"
                  />
                </div>
                <div class="pt-1" *ngIf="submittedAssignment">
                  <span class="btn-success"
                    >You have already submitted your assignment called:
                    {{ submittedAssignment.name }}</span
                  ><br />
                  <span class="btn-danger"
                    >Uploading a new zip file will override your old
                    submission!</span
                  >
                </div>
              </div>
            </div>

            <div
              class="col-md-12 mb4"
              *ngIf="this.coursedropdown === courseDropdownEnum.ATTENDEES"
            >
              <div class="card p-4">
                <h4>Attendees:</h4>
                <div class="attendees-container-header mb-4">
                  <label class="attendees-name">Email:</label>
                  <label
                    *ngIf="this.user && this.user.faculty"
                    class="attendees-header-assignment mr-3"
                    >Submission Date:</label
                  >
                  <div class="attendees-right-side">
                    <label
                      *ngIf="this.user && this.user.faculty"
                      class="attendees-header-assignment"
                      >Submitted Assignment:</label
                    >

                    <label class="mr-2">Grade:</label>
                  </div>
                </div>
                <div
                  class="mb-2 attendees-container"
                  *ngFor="let attendee of course.attendees"
                >
                  <label class="attendees-name" for="attendee.user">{{
                    attendee.user
                  }}</label>
                  <label
                    *ngIf="
                      !checkSubmissionOverdue(attendee.submittedAssignmentDate)
                    "
                    class="attendees-name"
                    for="attendee.submittedAssignmentDate"
                    >{{ attendee.submittedAssignmentDate }}</label
                  >
                  <label
                    *ngIf="
                      checkSubmissionOverdue(attendee.submittedAssignmentDate)
                    "
                    class="attendees-name alert alert-danger"
                    for="attendee.submittedAssignmentDate"
                    >{{ attendee.submittedAssignmentDate }}</label
                  >
                  <div class="attendees-right-side">
                    <a
                      *ngIf="
                        this.user &&
                        this.user.faculty &&
                        attendee.submittedAssignment
                      "
                      class="mr-2"
                      ><button
                        (click)="
                          downloadAssignment(
                            attendee.submittedAssignment,
                            'zip'
                          )
                        "
                        class="btn btn-primary"
                        type="submit"
                      >
                        <i class="fa fa-download mr-3"></i>Download answer
                      </button></a
                    >
                    <div class="attendees-right-grade form-group">
                      <span
                        class="mr-2"
                        *ngIf="this.user && !this.user.faculty"
                        >{{ attendee.grade || "NAN" }}</span
                      >
                      <select
                        *ngIf="
                          this.user &&
                          this.user.faculty &&
                          attendee.submittedAssignment
                        "
                        class="form-control"
                        id="exampleFormControlSelect1"
                        (change)="onGradeAssignment($event, attendee._id)"
                        [value]="attendee.grade"
                      >
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
